:root{
    --light-color: #1DE9B6;
    --protein-color: #64efdf;
    --carbs-color: #7b64ef;
    --fats-color: #f76e59;
    --darker-color: #182125;
    --dark-color: #263238;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
}
